/* основной текст #757575 */
/* вторичный текст #212121 */
/* черный #000000 */
/* белый #ffffff */
/* акцент #2196F3 */
:root {
  --text-color: #757575;
  --title-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f4fa;
  --bg-color-black: #2f303a;
  --black-color: #000000;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.title {
  font-weight: 700;
  color: var(--title-color);
}
.list {
  list-style: none;
}

/* heder */
.hero {
  background-color: var(--bg-color-black);
}

/* logo */
.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--black-color);
}
.logo__second {
  color: var(--blue-color);
}
/* menu */
.menu {
  /* display: flex; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.menu .link:hover,
.menu .link:focus {
  color: var(--blue-color);
}
.contacts a {
  color: var(--text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--blue-color);
}
/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.order {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* section title */
.section .first-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* feature section */
.feature-title {
  font-size: 14px;
  line-height: 1.14;
}
/* crew section */
.crew {
  background-color: var(--bg-color);
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--bg-color-black);
}

.footer .logo {
  color: var(--white-color);
}

.address {
  font-style: normal;
}

.address .city {
  color: #ffffff;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}

/* ==========portpholio===========*/

/* button */

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.163;
  text-align: center;
  color: var(--title-color);
  background: var(--bg-color);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  height: 38px;
}

.btn:hover,
.btn:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
/* exemple */

.cards .par {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
.cards .card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
